<!DOCTYPE html>
<html ng-app="bestRestaurant">
  <head>
    <title>Best Restaurants</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="row">
        <div class="col-md-4">
          <h3>Add New Restaurant</h3>
          <form ng-submit="addRestaurant()">
            <input type="text" ng-model="restaurantName" placeholder="Restaurant Name">
            <input type="text" ng-model="food" placeholder="Type of Food Served">
            <input type="text" ng-model="restaurantLocation" placeholder="Location">
            <select ng-model="price">
              <option selected>$</option>
              <option>$$</option>
              <option>$$$</option>
              <option>$$$$</option>
            </select>
            <button type="submit" class="btn btn-danger">Add it!</button>
          </form>
        </div>

        <div class="col-md-4">
          <h2 ng-show="restaurants.length && filtered.length">Best Restaurants</h2>
          <h2 ng-show="restaurants.length && !filtered.length">No Fire...because no matches</h2>
          <ul>
            <li ng-repeat="item in filtered = (restaurants | filter:query)">
              <span ng-click="showDetails = true">
                {{item.name}} <a ng-click="showEditor = true">Edit</a> <a ng-click="deleteRestaurant(item)">Delete!</a>
              </span>
              <span ng-show = "showDetails" ng-click="showDetails = false">
                <ul>
                  <li>{{item.food}}</li>
                  <li>{{item.location}}</li>
                  <li>{{item.price}}</li>
                </ul>
              </span>
              <span ng-show="showEditor" ng-submit="showEditor = false">
                <form>
                  <input type="text" ng-model="item.name">
                  <input type="text" ng-model="item.food">
                  <input type="text" ng-model="item.location">
                  <input type="text" ng-model="item.price">
                  <button type="submit" class="btn btn-xs btn-info">Change</button>
                </form>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-4" ng-show="restaurants.length">
          <h4>Search Restaurants</h4>


          <form class="form-inline">
            <!-- <span ng-false-value=""> -->
            <input ng-model="query.$" type="text" placeholder="General search">
            <!-- </span>
            Advanced Search:<input type="checkbox" ng-model="value1">
            <span ng-show="advancedSearch" ng-switch-when="value1 = true"> -->
              <input ng-model="query.name" type="text" placeholder="Search by name">
              <input ng-model="query.food" type="text" placeholder="Search by type of food">
              <input ng-model="query.location" type="text" placeholder="Search by location">
            <!-- </span> -->
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
